$light-red: #fff0f1;
$dark-red: #f6303f;
$dark-blue: #05549f;

.login__form__container {
    margin-top: 60px;
    margin-bottom: 150px;
    border: solid 2px #f6f6f6;
    border-radius: 5px;
    text-align: center;

}

.login__form__error--text {
    color: #f6303f;
    font-size: 12px;
    background-color: #fff0f1;
    width: 30%;
    padding: 5px;
    margin-bottom: 0px;
    margin-left: 232px;

}

.login__form--text-field {
    width: 300px;
    height: 45px;
    padding: 20px;
    margin-bottom: 25px;
}

.login__form__submit-btn {
    display: block;
    width: 72%;
    margin-left: 58px;
    margin-top: 20px;
    padding: 20px;
    background-color: $dark-blue;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
}

.login__form__forgot-password {
    font-size: 12px;
    padding-left: 80px;
}

.login__form__remember__me--label {
    font-size: 12px;
}

.login__form__remember__me--text {
    margin: 0;
    display: inline-block;
    padding-left: 10px;
}