.products__card--product-name {
    text-align: left;
    padding-left: 115px;
    font-size: 14px;
    color: #414141;
}

.products__card--product-price {
    text-align: left;
    padding-left: 115px;
    font-size: 18px;
    font-weight: 900;

}